*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

h1 {
  font-size: 3rem;
}

p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 90%;
  margin: 10px auto;
  color: #fff;
}

a::before,
a::after,
a {
  text-decoration: none;
}

main {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 70%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.link-page,
.link-page::before,
.link-page::after {
  display: flex;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.link-page h2 {
  padding: 0rem 2rem;
}

.games {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}

.pro img {
  position: absolute;
  top: -10%;
  right: 10%;
}
.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.green-circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #3cb371;
}

.big-green-text {
  color: #3cb371;
  font-size: 2.5rem;
  line-height: 1;
}

.white-circle {
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #000000;
}

.empty-display {
  width: 100px;
  height: 100px;
}

input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 90%;
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 0 10px 10px 0;
  outline: none;
}
.btn {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  color: #426696;
  width: 30%;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 0 10px 10px 0;
  outline: none;
  cursor: pointer;
}

.games {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
  max-height: 100%;
}

.cards-about {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 1rem;
  margin: 2rem 0rem 0rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.profile {
  align-items: flex-start;
  gap: 1rem;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.file-info-card {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-info-login {
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

.card-title,
.card-footer {
  text-align: center;
}

.card-title {
  font-weight: 600;
}

.card-subtitle {
  font-size: 1rem;
}

.card-footer {
  font-size: 1.5rem;
  color: #426696;
}

.socials {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-around;
}

.social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-title {
  font-size: 1.1rem;
  padding: 5px;
  text-align: center;
}

.sign-up-icon {
  padding: 25px;
}

.info-text {
  font-size: 1rem;
}

.input-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.column {
  flex-direction: column;
}

.input-box {
  margin: 10px 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.search-icon {
  position: absolute;
  top: 7px;
  right: 15%;
  color: #fff;
}

.full-link,
.full-link::after,
.full-link::before {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}

.active {
  border-left: 6px solid #65dfc9;
  filter: brightness(1.5);
}

.icon-color,
.icon-color::before {
  background: -webkit-gradient(
    linear,
    right bottom,
    right top,
    from(#65dfc9),
    to(#6cdbeb)
  );
  margin-top: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us-item {
  padding-left: 25px;
  padding-right: 5px;
}

button {
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

table {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
  height: 390px;
  display: block;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

tbody {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
  color: black;
}

th {
  margin: 0 10px;
}

tr {
  width: 100%;
}

td {
  width: 100%;
}

.result {
  text-align: center;
}

table::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
table::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #eb906c 14%, #df7d65 64%);
  border-radius: 10px;
}
table::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #df7d65 14%, #eb906c 64%);
}
table::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 7px 12px #f0f0f0;
}

.small-height {
  height: 100px;
}

.file-label {
  color: #0275d8;
}

.file {
  visibility: hidden;
  width: 100px;
}

.file-label::before {
  content: 'Choose File';
  display: block;
  background-color: #fff;
  border: 2px solid #0275d8;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  width: 150px;
}

.file-label:hover::before,
.file-label:active::before {
  border-color: #034a88;
}

.file-btn {
  background-color: #0275d8;
  color: #fff;
  width: 70px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: background-color 0.3s ease-in-out;
}

.file-btn:hover,
.file-btn:active {
  background-color: #fff;
  color: #0275d8;
  border: 1px solid #0275d8;
}
